<head>
    
  <style>

    table.dataTable thead .sorting:after,
    table.dataTable thead .sorting:before,
    table.dataTable thead .sorting_asc:after,
    table.dataTable thead .sorting_asc:before,
    table.dataTable thead .sorting_asc_disabled:after,
    table.dataTable thead .sorting_asc_disabled:before,
    table.dataTable thead .sorting_desc:after,
    table.dataTable thead .sorting_desc:before,
    table.dataTable thead .sorting_desc_disabled:after,
    table.dataTable thead .sorting_desc_disabled:before {
      bottom: .5em;
    }
      </style>
</head>

<table id="dtOrderExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th class="th-sm">Name
        </th>
        <th class="th-sm">Id
        </th>
        <th class="th-sm">Status
        </th>
        <th class="th-sm">Mobile
        </th>
        <th class="th-sm">Order date
        </th>
        <th class="th-sm">
        </th>
        <th class="th-s m">
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <% response.forEach(function(user) { %>

        <td><%=user.orders.shippingAddress.fname%></td>
        <td><%=user._id%></td>
        <td><%=user.orders.paymentStatus%></td>
        <td><%=user.orders.shippingAddress.mobile%></td>
        <td><%=getDate(user.orders.createdAt)%></td>
        <td><a href="/admin/getOrder_details/<%=user.orders._id%>" class="btn btn-info">View Details</a></td>

        


        <%if(user.orders.orderConfirm == 'cancelled'){%>
          <td> <p style="color: red;">canceled</p></td>
          <td></td>
     
           <%}else {%>
            <td><%=user.orders.orderConfirm%></td>
        <td>
          <!-- <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           Change order status
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">


            <div class="text-center "><button class="rounded-pill border border-dark rounded-lg" onclick="orderStatus('<%=user.orders._id%>','order-placed')">Order placed</button> </div>
            <br>
            <div class="text-center "><button class="rounded-pill border border-dark rounded-lg" onclick="orderStatus('<%=user.orders._id%>','order-dispatched')">Order Dispatched</button> </div>
            <br>
            <div class="text-center "><button class="rounded-pill border border-dark rounded-lg" onclick="orderStatus('<%=user.orders._id%>','out-for-delivery')">Out for Delivery</button> </div>
            <br>
            <div class="text-center "><button class="rounded-pill border border-dark rounded-lg" onclick="orderStatus('<%=user.orders._id%>','delivered')">Delivered</button> </div>
            <br>
            <div class="text-center "><button class="rounded-pill border border-dark rounded-lg" onclick="orderStatus('<%=user.orders._id%>','cancelled')">Cancel</button> </div>
           
          
           
          </div>
        </div> -->

          <select class="form-select d-inline-block mb-lg-0 mb-15 ">
            <option>Change status</option>
            <option>Awaiting payment</option>
            <option>Confirmed</option>
            <option>Shipped</option>
            <option>Delivered</option>
          </select>
      
     
      </td>
           
          <%}%>

        



      </tr>

      <% }) %>

     
    </tbody>
   
  </table>





<script>


function orderStatus(orderId, status)
{
  console.log(orderId, status);
  $.ajax({
    url:'/admin/orderStatus',
    method:'put',
    data: {
      orderId: orderId,
      status: status
    },
    success:(response)=>
    {
      if(response.update)
      {
        location.reload()
      }
    }
  })
}


</script>
