<div class="main_container m-5">
  <div class="text-center">
    <button type="button" class="btn btn-primary btn_print m-3"
    value="Download as Pdf">Download as PDF</button>
  
    <button type="button" class="btn btn-primary btn_print m-3" onclick="export_data()"
    value="Export to excel">Download as Excel</button>

  </div>

    
   
<div style="margin-top: -5em;">
<form action="/admin/sales_report" method="POST" id="salesReport">

<div> <input type="date" name="startdate" id="startdate" ></div>
<span id="date-error1" style="display: none; color: red;">Invalid Start Date</span>
 
  <div><input type="date" name="enddate" id="enddate" ></div>
  <span id="date-error2" style="display: none; color: red;">Invalid End Date</span>
  <br>

  <button class="btn btn-primary " type="submit" id="submit-button">submit</button>

</form>
</div> 
   
   
    </div>



<table class="table table-striped" id="container_content">
    <thead>
      <tr>
        <th scope="col">OrderId</th>
        <th scope="col">user Name</th>
        <th scope="col">Item Name</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
        <th scope="col">Product Offer</th>
        <th scope="col">Payment Method</th>
        <th scope="col">Delivered Date</th>
      </tr>
    </thead>
    <tbody>
        <% Details.forEach((order)=>{ %>
      <tr>
        <td><%=order._id%></td>
        <td><%=order.shippingAddress.fname%></td>
        <td><%=order.productsDetails[0].productsName%></td>
        <td><%=order.productsDetails[0].quantity%></td>
        <td><%=order.productsDetails[0].productsOfferPrice%></td>
        <td><%=order.productsDetails[0].productsOffer%>%</td>
        <td><%=order.paymentmode%></td>
        <td><%=getDate(order.createdAt)%></td>

      </tr>
      <%})%>

     
    </tbody>
  </table>

</div>
<br>
<br>


</div>




<script>


   let startDate = document.getElementById('startdate')
   let endDate = document.getElementById('enddate')
   let error1 = document.getElementById('date-error1')
   let error2 = document.getElementById('date-error2')

   let submitButton = document.getElementById('submit-button');

// Disable submit button on page load
submitButton.disabled = true;

// Add event listeners to start date and end date inputs
startDate.addEventListener("input", validateDates);
endDate.addEventListener("input", validateDates);

function validateDates() {
  const selectedStartDate = new Date(startDate.value);
  const selectedEndDate = new Date(endDate.value);
  const today = new Date();

  if (selectedStartDate < today) {
    error1.style.display = "none";
  } else {
    error1.style.display = "inline";
  }

  if (selectedEndDate < today) {
    error2.style.display = "none";
  } else {
    error2.style.display = "inline";
  }

  // Check if either error is displayed or if end date is before start date
  if (error1.style.display === "inline" || error2.style.display === "inline" || selectedEndDate < selectedStartDate) {
    submitButton.disabled = true;
  } else {
    submitButton.disabled = false;
  }
}


$(document).ready(function ($) {
        $(document).on('click', '.btn_print', function (event) {
            event.preventDefault();
            var element = document.getElementById('container_content');
            let randomNumber = Math.floor(Math.random() * (10000000000 - 1)) + 1;
            var opt = {
                margin: 0,
                filename: 'SalesReport' + randomNumber + '.pdf',
                html2canvas: { scale: 10 },
                jsPDF: { unit: 'in', format: 'letter', orientation: 'portrait' }
            };

            html2pdf().set(opt).from(element).save();
        });
    });




    function export_data() {
        let data = document.getElementById('container_content');
        var fp = XLSX.utils.table_to_book(data, { sheet: 'vishal' });
        XLSX.write(fp, {
            bookType: 'xlsx',
            type: 'base64'
        });
        XLSX.writeFile(fp, 'test.xlsx');
    }




</script>

<style>
  table {
    border-collapse: collapse;
    width: 100%;
    margin: 20px 0;
    font-size: 1em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  table thead tr {
    background-color: #088178;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
  }
  table th,
  table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: left;
  }
  table tbody tr {
    border-bottom: 1px solid #ddd;
  }
  table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  table tbody tr:last-of-type {
    border-bottom: 2px solid #3c8dbc;
  }
</style>