

 <div class="card mb-4">
  <header class="card-header">
    <h4 class="card-title">Latest orders</h4>
    <div class="row align-items-center">
      <div class="col-md-3 col-12 me-auto mb-md-0 mb-3">
        <div class="custom_select">
          <select class="form-select select-nice">
            <option selected>All Categories</option>
            <option>Women's Clothing</option>
            <option>Men's Clothing</option>
            <option>Cellphones</option>
            <option>Computer & Office</option>
            <option>Consumer Electronics</option>
            <option>Jewelry & Accessories</option>
            <option>Home & Garden</option>
            <option>Luggage & Bags</option>
            <option>Shoes</option>
            <option>Mother & Kids</option>
          </select>
        </div>
      </div>
      <div class="col-md-2 col-6">
        <input type="date" value="02.05.2021" class="form-control" />
      </div>
      <div class="col-md-2 col-6">
        <div class="custom_select">
          <select class="form-select select-nice">
            <option selected>Status</option>
            <option>All</option>
            <option>Paid</option>
            <option>Chargeback</option>
            <option>Refund</option>
          </select>
        </div>
      </div>
    </div>
  </header>
  <div class="card-body">
    <div class="table-responsive">
      <div class="table-responsive">
        <table class="table align-middle table-nowrap mb-0">
          <thead class="table-light">
            <tr>
              <th scope="col" class="text-center">
                <div class="form-check align-middle">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    id="transactionCheck01"
                  />
                  <label
                    class="form-check-label"
                    for="transactionCheck01"
                  ></label>
                </div>
              </th>
              <th class="align-middle" scope="col">Order ID</th>
              <th class="align-middle" scope="col">Billing Name</th>
              <th class="align-middle" scope="col">Date</th>
              <th class="align-middle" scope="col">Total</th>
              <th class="align-middle" scope="col">Payment Status</th>
              <th class="align-middle" scope="col">Order status</th>
              <th class="align-middle" scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <% response.forEach(function(data) { %>
            <tr>
              <td class="text-center">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    id="transactionCheck02"
                  />
                  <label
                    class="form-check-label"
                    for="transactionCheck02"
                  ></label>
                </div>
              </td>
              <td><a href="#" class="fw-bold"><%= data.item._id%></a></td>
              <td>f</td>
              <td><%= data.item.createdAt%></td>
              <td><%= data.item.totalPrice%></td>
              <td>
               
                  <%= data.item.paymentStatus%></span
                >
              </td>
              <td>
                <i
                  class="material-icons md-payment font-xxl text-muted mr-5"
                ></i>
              
                <%if(data.item.orderConfirm == 'ordered'){%>
                  <button class="btn btn-danger" onclick="cancelOrder('<%=data.item._id%>')" >cancel your order</button>
             
                   <%}else {%>
                    <p style="color: red;">canceled</p>
                  <%}%>
              </td>
              <td>
                
                <%if(data.item.orderConfirm == 'ordered'){%>
                 
             
                  <%if(data.item.orderConfirm == 'ordered'){%>
                 
             
                 
                   <%}%>
                   <%}%>

                <!-- <a href="/order_cancel/<%=data.item._id%>" class="btn btn-xs">Cancel order</a> -->
              </td>
            </tr>

            <%}) %>
            
          </tbody>
        </table>
      </div>
    </div>
    <!-- table-responsive end// -->
  </div>
</div>


<script>

    function cancelOrder(cancelId) 
    {
      // return confirm('cancel')
      $.ajax({
        url: '/order_cancel/'+cancelId,
        data:{
          cancelId:cancelId
        },
        method:'GET',
        
        success:(response)=>
        {

          if(response)
          {
            location.reload()
          }

        }
        
      })

    }


</script>