


<section></section>
    
   
    <main class="main">
       
        <section class="mt-50 mb-50">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table shopping-summery text-center clean">
                                <thead>
                                    <tr class="main-heading">
                                    
                                        <th scope="col">Image</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col">Subtotal</th>
                                        <th scope="col">Remove</th>
                                    </tr>
                                </thead>
                             
                                <tbody>
                                    
                                    <% cartItems?.forEach(function(cartItems){%>
                                      
                                    <tr>
                                   
                                       
                                        <td > <img src="/uploads/<%=cartItems.carted.Image %>" ></td>
                                        <td class="product-des product-name">
                                            <h5 class="product-name"><a href="shop-product-right.html"><%=cartItems.carted.Productname%></a></h5>
                                            <p class="font-xs"><%=cartItems.carted.category%></p> 
                                            <p class="font-xs"><%=cartItems.carted.ProductDescription%></p> 
                                           
                                        </td>
                                        <td class="price" cartItemss-title="Price"><span><%=cartItems.carted.Price%> </span></td>
                                        <td class="text-center" cartItemss-title="Stock">

                                            <div class="detail-qty border radius  m-auto">
                                               <div><button class="cart-item-count mr-5" onclick="changeQuantity('<%= cartItems._id%>','<%= cartItems.item %>','<%= userId.id %>',-1)">-</button></div>
                                                <span id="<%= cartItems.item %>"><%= cartItems.quantity%></span>
                                                <div>  <button class="cart-item-count ml-5" onclick="changeQuantity('<%= cartItems._id%>','<%= cartItems.item %>','<%= userId.id %>',1)">+</button></div> 
                                            </div>
                                        </td>
                                        <td class="text-right" cartItemss-title="total">
                                            
                                        </td>
                                        <!-- <td class="action" cartItemss-title="Remove"><a href="#" class="text-muted"><i class="fi-rs-trash"></i></a></td> -->
                                        <td class="action" cartItemss-title="Remove"><button class="text-muted" onclick="return removeCart(this),removeItem('<%=cartItems._id%>','<%=cartItems.item %>')"><i class="fi-rs-trash"></i></button></td>
                                      
                                    </tr>
                                    
                                    
                                    
                                    <%}) %>
                             
                                </tbody>
                             
                            </table>
                        </div>
                      
                        <div class="divider center_icon mt-50 mb-50"><i class="fi-rs-fingerprint"></i></div>
                        <div class="row mb-50">
                            <div class="col-lg-6 col-md-12">
                               
                                <% subtotal?.forEach(function(subtotal){%>
                                    <span><%=subtotal.total%> </span>
                                  
                                    <%}) %>
                                
                                <div class="mb-30 mt-50">
                                    <div class="heading_s1 mb-3">
                                        <h4>Apply Coupon</h4>
                                    </div>
                                    <div class="total-amount">
                                        <div class="left">
                                          <div class="coupon">
                                            <form action="/cartItems" target="_blank">
                                              <div class="form-row row justify-content-center">
                                                <div class="form-group col-lg-6">
                                                  <input
                                                    type="text"
                                                    class="form-control"
                                                    autocomplete="off"
                                                    required
                                                    id="code"
                                                    placeholder="coupon code"
                                                  />
                                                </div>
                                                <div class="form-group col-lg-6">
                                                  <button
                                                    class="btn btn-sm btn-outline-primary bg-light"
                                                    style="width: 3em; height: 3em"
                                                    type="button"
                                                    onclick="couponValidator(this,'<%=total%>')"
                                                  >
                                                    <i class="icon-long-arrow-right"></i>
                                                  </button>
                                                </div>
                                              </div>
                                            </form>
                                            <span class="couponErr"></span>
                                          </div>
                                        </div>
                                      </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="border p-md-4 p-30 border-radius cartItems-totals">
                                    <div class="heading_s1 mb-3">
                                        <h4>cartItems Totals</h4>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    <td class="cartItems_total_label">cartItems Subtotal</td>
                                                    <td class="cartItems_total_amount"><span id="subtotal" class="font-lg fw-900 text-brand"><%=total%></span></td>
                                                </tr>
                                                <tr>
                                                    <td class="cartItems_total_label">Shipping</td>
                                                    <td class="cartItems_total_amount"> <i class="ti-gift mr-5"></i> Free Shipping</td>
                                                </tr>
                                                <tr>
                                                    <td class="cartItems_total_label">Total</td>
                                                    <td class="cartItems_total_amount"><strong><span id="total" class="font-xl fw-900 text-brand "><%= total%></span></strong></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <a href="/check_out" class="btn "> <i class="fi-rs-box-alt mr-10"></i> Proceed To CheckOut</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
   

    
    
   
</section>


<script>
    function changeQuantity(cartId, prodId,userId,count){

       let quantity = parseInt(document.getElementById(prodId).textContent)
       count=parseInt(count)

       $.ajax({
       url: '/change_product_quantity',
       method: 'PUT',
       data: {
       user:userId,
       cart: cartId,
       product: prodId,
       count: count,
       quantity: quantity
     
     },

     success:(response)=>{  
       if(response.removeProduct){
           alert("Removed Product From Cart")
           location.reload()
       }
       else{
         
           let cartQuantity= quantity+count
           console.log(cartQuantity);
           document.getElementById(prodId).innerHTML=cartQuantity
           document.getElementById("total").innerHTML=response.total
           document.getElementById("subtotal").innerHTML=response.total
           }
    }
   })
}


function removeItem(cartId, prodId) {
    $.ajax({
          url: '/delete_cart_item',
          data: {
            cartId: cartId,
            product: prodId
          },
          method: 'DELETE',
          success: (response) => {
            if (response.removeProduct) {
              location.reload()
            }    
          }
        })
}



function removeCart(form)
{
    event.preventDefault()
     Swal.fire({
  title: 'Are you sure?',
  text: "You won't be able to revert this!",
  icon: 'warning',
  showCancelButton: true,
  confirmButtonColor: '#3085d6',
  cancelButtonColor: '#d33',
  confirmButtonText: 'Yes, delete it!',
  timer: 3000 
}).then((result) => {
  if (result.isConfirmed) {
    form.submit()
    // Swal.fire(
    //   'Deleted!',
    //   'Your file has been deleted.',
    //   'success'
    // )
  }
})
return false
}



function couponValidator(elem, total) {
    code = document.getElementById("code").value.trim();
    // couponTotal = document.getElementById("total").value;
    $.ajax({
      url: "/coupon_validator?code="+code,
      method: "get",
      success: (response) => {
        console.log(response + "coupon validated");

        console.log(response);
        if (response.status == true) {
          $.ajax({
            url: "/coupon_verify?code=" + code,
            method: "get",
            success: (response) => {
              console.log(response + "coupon verified");
              if (response.status == true) {
                $.ajax({
                  url: "/apply_coupon?code=" + code,
                  method: "get",
                  success: (response) => {
                    console.log(response.discountAmount + "i am discount");
                    console.log(response.status + "i am status");

                    if (response.status == true) {
                      console.log("success3", response);
                      document.querySelector(".couponErr").style.color =
                        "#19ff11";
                      document.querySelector(".couponErr").innerHTML =
                        "Coupon Applied Succesfully";
                      document.getElementById("total").innerHTML =
                        total - response.discountAmount;
                      // couponTotal.innerHTML = `₹ ${
                      //   total - response.discountAmount
                    } else {
                      console.log("failed", response);
                      document.querySelector(".couponErr").style.color =
                        "#ff0707";
                      document.querySelector(".couponErr").innerHTML =
                        response.reason;
                    }
                  },
                });
              } else {
                document.querySelector(".couponErr").style.color = "#ff0707";
                console.log("failed", response.reason);
                document.querySelector(".couponErr").innerHTML =
                  response.reason;

                setTimeout(function () {
                  document.querySelector(".couponErr").style.display = "none";
                }, 3000);
              }
            },
          });
        } else {
          document.querySelector(".couponErr").style.color = "#ff0707";
          document.querySelector(".couponErr").innerHTML = response.reason;
          console.log("failed", response.reason);

          setTimeout(function () {
            document.querySelector(".couponErr").style.display = "none";
          }, 3000);
        }
      },
    });
  }



                                     

</script>
