<section class="mt-50 mb-50">
            <div class="container">
               
               
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-25">
                            <h4>Select Your Address</h4>
                        </div>
                       
                        <br>
                        <form  action="/check_out" method="POST" id="checkout-form">
                            <% response.forEach(function(response) { %>
                            <div>
                        <div class="payment_option">
                            
                            <div class="custome-radio" style="width: 35rem; height: 13rem;background-color: whitesmoke; padding: 20px; border-radius: 30px;">
                                
                                                                       
                                <input type="radio" id="address1" name="address" value="address1" style="height: 10px;width:10px;">
                                 
                                <h4><%=response.item.fname%>:<%=response.item.lname%></h4>
                                <h5><%=response.item.street%></h6>
                                    <h5><%=response.item.apartment%></h6>
                                        <h5><%=response.item.city%></h5>
                                        <h5><%=response.item.state%></h5>
                                        <h5><%=response.item.pincode%></h5>
                                    <h5><%=response.item.mobile%></h5>
                                    <h5><%=response.item.email%></h5>
                                                                     
                                    <br>                                                             
                            </div>    
                                                       
                        </div>
                        
                        
                    </div>
                    <% }) %> 
                    <div class="payment_method">
                      <p>Payment Method</p>
                      <div class="form-check">
                          <input class="form-check-input" type="radio" name="payment-method" value="COD" >
                          <label class="form-check-label" for="flexRadioDefault1">
                            COD
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="payment-method" value="online"  >
                          <label class="form-check-label" for="flexRadioDefault1">
                            Online payment
                          </label>
                        </div>
                        <div class="form-group">
                            <input   name="user"  value="<%=users%>"  type="hidden"  >
                        </div>
                  </div>
               <button type="submit"  class="btn btn-fill-out btn-block mt-30">Proceed to payment</button>
                    </form>

                       
                        <br>
                        <div style="width: 35rem; height: 3rem;background-color: whitesmoke; padding: 20px;">
                            <a href="/add_address"> <h5>+ Add an address</h5></a>
                             
                        </div>

</div>
            
                
<div class="col-md-6">
    <div class="order_review">
        <div class="mb-20">
            <h4>Your Orders</h4>
        </div>
        <div class="table-responsive order_table text-center">
            <table class="table">
                <thead>
                    <tr>
                        <th colspan="2">Product</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    <% cartItems.forEach(function(cartItems){%>
                    <tr>
                       
                            
                        <td class="image product-thumbnail"><img src="/uploads/<%=cartItems.carted.Image %>"  ></td>
                        <td>
                            
                            <h5><a href="shop-product-full.html"><%=cartItems.carted.Productname%></a></h5> <span class="product-qty"> x<%=cartItems.quantity%></span>
                        </td>
                        <td><%= cartItems.carted.Price%></td>
                        
                    </tr>
                    <%}) %>
                   
                    <!-- <tr>
                        <th>SubTotal</th>
                        <td class="product-subtotal" colspan="2">$280.00</td>
                    </tr> -->
                    <tr>
                        <th>Shipping</th>
                        <td colspan="2"><em>Free Shipping</em></td>
                    </tr>
                    <tr>
                        <th>Total</th>
                        <td colspan="2" class="product-subtotal"><span class="font-xl text-brand fw-900"><%=total%></span></td>
                     
                    </tr>
                </tbody>
            </table>
        </div>
        
    
    </div>
</div>
                    
                </div>
            </div>
        </section>
  

        <script>
       
    
            $('#checkout-form').submit((e) => {
              e.preventDefault();
          
              $.ajax({
                url: '/check_out',
                method: 'post',
                data: $('#checkout-form').serialize(),
                success: (response) => {
                  if (response.codstatus == true) {
                    location.href = '/order_success';
                  } else {
                    razorpay(response);
                    console.log(response);
                    console.log(response.amount);
          
                  }
                }
              });
            });
          
            function razorpay(order) {
              console.log(order); 
              var options = {
                "key": "rzp_test_skvx7PSxj47qbu", // Enter the Key ID generated from the Dashboard
                "amount":Number(order.amount), // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise,
                "currency": "INR",
                "name": "A2Z Ecommerce",
                "description": "Test Transaction",
                "image": "https://example.com/your_logo",
                "order_id": order.id, //This is a sample Order ID. Pass the id obtained in the response of Step 1
                "handler": function (response) {
                //   alert(response.razorpay_payment_id);
                //   alert(response.razorpay_order_id);
                //   alert(response.razorpay_signature)
                  verifypayment(response, order)
                },
                "prefill": {
                  "name": "Gaurav Kumar",
                  "email": "gaurav.kumar@example.com",
                  "contact": "9999999999"
                },
                "notes": {
                  "address": "Razorpay Corporate Office"
                },
                "theme": {
                  "color": "#3399cc"
                }
              };
              var rzp1 = new Razorpay(options )
                rzp1.open(); 
          
          }
           
            function verifypayment(payment,order){

$.ajax({


url:'verify_payment',
                  data:{
                      payment,
                      order
                  },
                  method:'post',
                  success: (response) => {
                  if(response.status){
                      location.href = '/order_success';
                  }else{
                      
                  }
          
                  }
              })
            }
          
          </script>