<section class="mt-50 mb-50">
            <div class="container">
               
               
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-25">
                            <h4>Select Your Address</h4>
                        </div>
<% if (addressLength == 0) { %>

  <h2>No Addrerss added</h2>

  <%} else { %>

    <form  action="/check_out" method="POST" id="checkout-form">
      <% response.forEach(function(response) { %>
      <div>
  <div class="payment_option">
      
      <div class="custome-radio" style="width: 35rem; height: 13rem;background-color: whitesmoke; padding: 20px; border-radius: 30px;">
          
                                                 
          <input type="radio" id="address1" name="address" checked value="<%=response.item._id%>" style="height: 10px;width:10px;">
           
          <h4><%=response.item.fname%>:<%=response.item.lname%></h4>
          <h5><%=response.item.street%></h6>
              <h5><%=response.item.apartment%></h6>
                  <h5><%=response.item.city%></h5>
                  <h5><%=response.item.state%></h5>
                  <h5><%=response.item.pincode%></h5>
              <h5><%=response.item.mobile%></h5>
              <h5><%=response.item.email%></h5>
                                               
              <br>                                                             
      </div>    
                                 
  </div>
  
  
</div>
<% }) %> 
<div class="payment_method">
<p>Payment Method</p>
<div class="form-check">
    <input class="form-check-input" type="radio" name="payment-method" value="COD" checked >
    <label class="form-check-label" for="flexRadioDefault1">
      COD
    </label>
  </div>
  <% if (walletAmount) { %>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="payment-method" value="wallet">
      <label class="form-check-label" for="flexRadioDefault1">
        Pay with wallet
      </label>
    </div>
  <% } else { %>
    <p class="text-danger">low balance</p>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="payment-method" value="wallet" disabled>
      <label class="form-check-label" for="flexRadioDefault1">
        Pay with wallet
      </label>
    </div>
  <% } %>
  

  <div class="form-check">
    <input class="form-check-input" type="radio" name="payment-method" value="online" >
    <label class="form-check-label" for="flexRadioDefault1">
      Online payment
    </label>
  </div>
  <div class="form-group">
      <input   name="user"  value="<%=users.id%>" type="hidden" >
      <input   name="total" id="total1"  value="<%=total%>" type="hidden" >
      <input   type="hidden" name="couponCode" id="codes" value="0">

  </div>
</div>
<button type="submit"  class="btn btn-fill-out btn-block mt-30">Proceed to payment</button>
</form>
    <% } %>



                       
                        <br>
             

                       
                        <br>
                        <div style="width: 35rem; height: 3rem;background-color: whitesmoke; padding: 20px;">
                            <a href="/add_address"> <h5>+ Add an address</h5></a>
                             
                        </div>

</div>
            
                
<div class="col-md-6">
    <div class="order_review">
        <div class="mb-20">
            <h4>Your Orders</h4>
        </div>
        <div class="table-responsive order_table text-center">
            <table class="table">
                <thead>
                    <tr>
                        <th colspan="2">Product</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    <% cartItems.forEach(function(cartItems){%>
                    <tr>
                       
                            
                        <td class="image product-thumbnail"><img src="/uploads/<%=cartItems.carted.Image[0] %>"  ></td>
                        <td>
                            
                            <h5><a href="shop-product-full.html"><%=cartItems.carted.Productname%></a></h5> <span class="product-qty"> x<%=cartItems.quantity%></span>
                        </td>
                        <td><%= cartItems.carted.Price%></td>
                        
                    </tr>
                    <%}) %>
                   
                    <!-- <tr>
                        <th>SubTotal</th>
                        <td class="product-subtotal" colspan="2">$280.00</td>
                    </tr> -->
                    <tr>
                        <th>Shipping</th>
                        <td colspan="2"><em>Free Shipping</em></td>
                    </tr>
                    <tr>
                      <th>Your Special Offer</th>
                      <td colspan="2"><em id="couponOffer"></em></td>
                  </tr>
                    <tr>
                        <th>Total</th>
                        <td colspan="2" class="product-subtotal"><span class="font-xl text-brand fw-900" id="total"><%=total%></span></td>
                     
                    </tr>
                </tbody>
            </table>
        </div>
        
    
    </div>
</div>
                    
                </div>
            </div>
            <div class="m-5">
              <div class="heading_s1 mb-3">
                  <h4>Apply Coupon</h4>
              </div>
              <div class="total-amount">
                  <div class="left">
                    <div class="coupon">
                      <form action="/cartItems" target="_blank">
                        <div class="form-row row justify-content-center">
                          <div class="form-group col-lg-6">
                            <input
                              type="text"
                              class="form-control"
                              autocomplete="off"
                              required
                              id="code"
                              placeholder="coupon code"
                            />
                          </div>
                          <div class="form-group col-lg-6">
                            <button
                              class="btn btn-sm btn-outline-primary bg-light"
                              style="width: 3em; height: 3em"
                              type="button"
                              onclick="couponValidator(this,'<%=total%>')"
                            >
                              <i class="icon-long-arrow-right"></i>
                            </button>
                          </div>
                        </div>
                      </form>
                      <span class="couponErr"></span>
                    </div>
                  </div>
                </div>
          </div>
        </section>
  
        <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

        <script>
       
    
            $('#checkout-form').submit((e) => {
              e.preventDefault();
          
              $.ajax({
                url: '/check_out',
                method: 'post',
                data: $('#checkout-form').serialize(),
                success: (response) => {
                  if (response.codstatus == true) {
                    location.href = '/order_success';
                  } else {
                    razorpay(response);
                    console.log(response);
                    console.log(response.amount);
          
                  }
                }
              });
            });
          
            function razorpay(order) {
              console.log(order); 
              var options = {
                "key": "rzp_test_35L6RvxfjNKTJy", // Enter the Key ID generated from the Dashboard
                "amount":Number(order.amount), // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise,
                "currency": "INR",
                "name": "RoshanCart",
                "description": "Test Transaction",
                "image": "https://example.com/your_logo",
                "order_id": order.id, //This is a sample Order ID. Pass the id obtained in the response of Step 1
                "handler": function (response) {
           
                  verifypayment(response, order)
                },
                "prefill": {
                  "name": "Gaurav Kumar",
                  "email": "gaurav.kumar@example.com",
                  "contact": "9999999999"
                },
                "notes": {
                  "address": "Razorpay Corporate Office"
                },
                "theme": {
                  "color": "#3399cc"
                }
              };
              var rzp1 = new Razorpay(options )
                rzp1.open(); 
          
          }
           
            function verifypayment(payment,order){

            $.ajax({
          url:'verify_payment',
                  data:{
                      payment,
                      order
                  },
                  method:'post',
                  success: (response) => {
                  if(response.status){
                      location.href = '/order_success';
                  }else{
                      
                  }
          
                  }
              })
            }


            
function couponValidator(elem, total) {
    code = document.getElementById("code").value.trim();
    $.ajax({
      url: "/coupon_validator?code="+code,
      method: "get",
      success: (response) => {

        if (response.status == true) {
             
                $.ajax({
                  url: "/apply_coupon?code=" + code,
                  method: "get",
                  success: (response) => {

                    if (response.status == true) {
                      document.querySelector(".couponErr").style.color ="#19ff11";
                      document.querySelector(".couponErr").innerHTML ="Coupon Applied Succesfully";
                      document.getElementById("total").innerHTML = total - response.discountAmount;
                      document.getElementById("total1").value = total - response.discountAmount;
                      document.getElementById("couponOffer").innerHTML = response.discount+'%';
                      document.getElementById("codes").value = response.code;


                  
                    } else {
                      document.querySelector(".couponErr").style.color ="#ff0707";
                      document.querySelector(".couponErr").innerHTML =response.reason;
                    }
                  },
                });
              } else {
                document.querySelector(".couponErr").style.color = "#ff0707";
                document.querySelector(".couponErr").innerHTML = response.reason;

                setTimeout(function () {
                 location.reload()
                }, 3000);
              }
            },
      
    });
  }


          
          </script>