<% if (!locals.err) { %>

<main class="main">
  <section class="mt-50 mb-50">
    <div class="container">
      <div class="row flex-row-reverse">
        <div class="col-lg-9">
          <div class="row product-grid-3">
            <% response.forEach(function(response,index) { %>

            <div class="col-lg-4 col-md-4 col-12 col-sm-6">
              <div class="product-cart-wrap mb-30">
                <div class="product-img-action-wrap">
                  <div class="product-img product-img-zoom">
                    <a href="/image/<%= response._id%>">
                      <img
                        class="default-img"
                        src="/uploads/<%= response.Image %>"
                        alt=""
                      />
                    </a>
                  </div>

                  <div
                    class="product-badges product-badges-position product-badges-mrg"
                  ></div>
                </div>
                <div class="product-content-wrap">
                  <div class="product-category">
                    <a><%=response.category%></a>
                  </div>
                  <h2><a><%=response.Productname%></a></h2>
                  <div class="rating-result" title="90%">
                    <span>
                      <span><%=response.offerPercentage%> %</span>
                    </span>
                  </div>
                  <div class="product-price">
                    ₹<span><%=response.offerPrice%></span>
                    <span class="old-price">₹<%=response.Price%></span>
                  </div>
                  <div class="product-action-1 show">
                    <button
                      type="button"
                      aria-label="Add To Wishlist"
                      class="action-btn hover-up"
                      onclick="addToWishlist('<%-response._id%>'),Swal.fire({
                                              position: 'center',
                                              icon: 'success',
                                              title: 'Product is successfully added to Wishlist',
                                              showConfirmButton: false,
                                              timer: 1500
                                            })"
                    >
                      <i class="fi-rs-heart"></i>
                    </button>
                    <% if (response.Quantity == 0) { %>
                    <p class="text-danger">Out of stock</p>
                    <% } else { %>
                    <button
                      type="button"
                      aria-label="Add To Cart"
                      class="action-btn hover-up"
                      onclick="addtocart('<%-response._id%>'),Swal.fire({
                                                position: 'center',
                                                icon: 'success',
                                                title: 'Product is successfully added to cart',
                                                showConfirmButton: false,
                                                timer: 1500
                                              })"
                    >
                      <i class="fi-rs-shopping-bag-add"></i>
                    </button>

                    <% } %>
                  </div>
                </div>
              </div>
            </div>
            <% }) %>
          </div>
          <!--pagination-->
        </div>
        <div class="col-lg-3 primary-sidebar sticky-sidebar">
          <div class="widget-category mb-30">
            <h5 class="section-title style-1 mb-30 wow fadeIn animated">
              Shop By Category
            </h5>

            <ul class="categories">
              <% viewCategory.forEach(function(response,index) { %>
              <li>
                <a href="/category?cname=<%= response.CategoryName%>"
                  ><%= response.CategoryName%></a
                >
              </li>
              <% }) %>
            </ul>
            <form id="sort-form" method="POST" action="/sort">
              <div class="sort-container">
                <label for="sort-select">Sort by:</label>
                <select
                  id="sort-select"
                  name="selectedValue"
                  onchange="this.form.submit()"
                >
                  <option value=""><a href="#">Price:</a></option>

                  <option value="price-low-to-high">
                    <a href="#">Price: Low to High</a>
                  </option>
                  <option value="price-high-to-low">
                    <a href="#">Price: High to Low</a>
                  </option>
                </select>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<% } else { %>
<div style="margin: 10rem">
  <h1 class="text-center">Search not found</h1>
</div>
<% } %>

<script>
  function addtocart(proId) {
    $.ajax({
      url: "/add-to-cart/" + proId,
      method: "GET",
      success: (response) => {
        if (response.status) {
          console.log(response.status);
          location.reload();
        }
      },
    });
  }

  function addToWishlist(prodId) {
    $.ajax({
      url: "/add_to_wishlist/" + prodId,
      method: "get",
      success: (response) => {
        if (response.status) {
          let wishlistCount = $("#wishlist-count").html();
          wishlistCount = parseInt(wishlistCount) + 1;
          $("#wishlist-count").html(wishlistCount);
        }
      },
    });
  }
</script>
