

<body>
    <!-- Quick view -->
   
    
    
    <main class="main">
       
        <section class="mt-50 mb-50">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="product-detail accordion-detail">
                            <div class="row mb-50">
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="detail-gallery">
                                        <span class="zoom-icon"><i class="fi-rs-search"></i></span>
                                        <!-- MAIN SLIDES -->
                                        <div class="product-image-slider">
                                            <figure class="border-radius-10">
                                                <img class="default-img" src="/uploads/<%=image.Image[0] %>" alt="">
                                            </figure>
                                            <figure class="border-radius-10">
                                                <img src="/uploads/<%=image.Image[1] %>" alt="product image">
                                            </figure>
                                            <figure class="border-radius-10">
                                                <img src="/uploads/<%=image.Image[2] %>" alt="product image">
                                            </figure>
                                            <figure class="border-radius-10">
                                                <img src="/uploads/<%=image.Image[3] %>" alt="product image">
                                            </figure>
                                            <figure class="border-radius-10">
                                                <img src="/uploads/<%=image.Image[4] %>" alt="product image">
                                            </figure>
                                            
                                           
                                        </div>
                                        <!-- THUMBNAILS -->
                                        <div class="slider-nav-thumbnails pl-15 pr-15">
                                            <div><img src="/uploads/<%=image.Image[0] %>" alt="product image"></div>
                                            <div><img src="/uploads/<%=image.Image[1] %>" alt="product image"></div>
                                            <div><img src="/uploads/<%=image.Image[2] %>" alt="product image"></div>
                                            <div><img src="/uploads/<%=image.Image[3] %>" alt="product image"></div>
                                        </div>
                                    </div>
                                    <!-- End Gallery -->
                                </div>
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="detail-info">
                                        <h2 class="title-detail"><%=image.Productname%></h2>
                                        <div class="product-detail-rating">
                                            <div class="pro-details-brand">
                                                <span> Category: <a href="shop-grid-right.html"><%=image.category%></a></span>
                                            </div>
                                            <div class="product-rate-cover text-end">
                                                <div class="product-rate d-inline-block">
                                                    <div class="product-rating" style="width:90%">
                                                    </div>
                                                </div>
                                                <span class="font-small ml-5 text-muted"> (25 reviews)</span>
                                            </div>
                                        </div>
                                        <div class="clearfix product-price-cover">
                                            <div class="product-price primary-color float-left">
                                                <ins><span class="text-brand">₹<%=image.offerPrice%></span></ins>
                                                <ins><span class="old-price font-md ml-15">₹<%=image.Price%></span></ins>
                                                <span class="save-price  font-md color3 ml-15"><%=image.offerPercentage%>% Off</span>
                                            </div>
                                        </div>
                                        <div class="bt-1 border-color-1 mt-15 mb-15"></div>
                                        <div class="short-desc mb-30">
                                            <p></p>
                                        <div class="product_sort_info font-xs mb-30">
                                            <ul>
                                                <li class="mb-10"><i class="fi-rs-crown mr-5"></i> 1 Year AL Jazeera Brand Warranty</li>
                                                <li class="mb-10"><i class="fi-rs-refresh mr-5"></i> 30 Day Return Policy</li>
                                                <li><i class="fi-rs-credit-card mr-5"></i> Cash on Delivery available</li>
                                            </ul>
                                        </div>
                                      
                                        <div class="bt-1 border-color-1 mt-30 mb-30"></div>
                                        <div class="detail-extralink">
                                         
                                            <div class="product-extra-link2">

                                                <% if (image.Quantity === 0) { %>
                                                  <p class="text-danger">Out of stock</p>
                                                  <% } else { %>
                                                    <button type="submit" class="button button-add-to-cart" onclick="addtocart('<%=image._id%>'),Swal.fire({
                                                        position: 'center',
                                                        icon: 'success',
                                                        title: 'Item Added Successfully To Cart',
                                                        showConfirmButton: false,
                                                        timer: 2000
                                                      })">Add to cart</button>
                                                  <% } %>
                                                  
                                               
                                                <button type="submit" class="button button-add-to-cart" onclick="addToWishlist('<%-image._id%>'), Swal.fire({
                                                    position: 'center',
                                                    icon: 'success',
                                                    title: 'Product is successfully added to wishlist',
                                                    showConfirmButton: false,
                                                    timer: 1500
                                                  })"><i class="fi-rs-heart"></i></button>

                                                <!-- <a aria-label="Add To Wishlist" class="action-btn hover-up" href="shop-wishlist.html"><i class="fi-rs-heart"></i></a> -->
                                                <!-- <a aria-label="Compare" class="action-btn hover-up" href="shop-compare.html"><i class="fi-rs-shuffle"></i></a> -->
                                            </div>
                                        </div>
                                        <ul class="product-meta font-xs color-grey mt-50">
                                            <li class="mb-5">Tags: <a href="#" rel="tag">Cloth</a>, <a href="#" rel="tag">Women</a>, <a href="#" rel="tag">Dress</a> </li>
                                            <li>Availability:<span class="in-stock text-success ml-5"><%=image.Quantity%> Items In Stock</span></li>
                                        </ul>
                                    </div>
                                    <!-- Detail Info -->
                                </div>
                            </div>
                            <div class="row">
                                
                            </div>
                            <div class="row mt-60">
                                <div class="col-12">
                                    <h3 class="section-title style-1 mb-30">Related products</h3>
                                </div>
                                <div class="col-12">
                                    <div class="row related-products">
                            <% relatedProducts.forEach(function(relatedProducts) { %>

                                <% if (relatedProducts.unlist) { %>

                                    <% } else { %>
                                    
                                        <div class="col-lg-3 col-md-4 col-12 col-sm-6">
                                            <div class="product-cart-wrap small hover-up">
                                                <div class="product-img-action-wrap">
                                                    <div class="product-img product-img-zoom">
                                                        <a href="/image/<%=relatedProducts._id %>" tabindex="0">
                                                            <img class="default-img" src="/uploads/<%=relatedProducts.Image[0] %>" alt="">
                                                            <img class="hover-img" src="/uploads/<%=relatedProducts.Image[0] %>" alt="">
                                                        </a>
                                                    </div>
                                                   
                                                    <div class="product-badges product-badges-position product-badges-mrg">
                                                        <span class="hot"><%=relatedProducts.offerPercentage%> % off</span>
                                                    </div>
                                                </div>
                                                <div class="product-content-wrap">
                                                    <h2><a href="shop-product-right.html" tabindex="0"><%=relatedProducts.Productname%></a></h2>
                                                    <div class="rating-result" title="90%">
                                                        <span>
                                                        </span>
                                                    </div>
                                                    <div class="product-price">
                                                        <span>₹<%=relatedProducts.offerPrice%></span>
                                                        <span class="old-price">₹<%=relatedProducts.Price%></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    <% } %>

                                     

                            <% })  %>

                                     
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </main>
   
                            <!-- Vendor JS-->
   
                        </body>


                               
<script>
  
    function addtocart(proId) {
  
      $.ajax({
                url: '/add-to-cart/'+proId,
                method: 'GET',
                success: (response) => {
                  if(response.status){
                      console.log(response.status);
                      location.reload()      
                  }
                  
                }
          
      })
  
      
     }
  
     function addToWishlist(prodId){
      $.ajax({
        url:"/add_to_wishlist/"+prodId,
        method:"get",
        success:(response)=>{
          if (response.status) {
            let wishlistCount = $("#wishlist-count").html();
            wishlistCount = parseInt(wishlistCount) + 1;
            $("#wishlist-count").html(wishlistCount);
          }
        }
      })
    }
  
  </script>
  
  