
<section class="h-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-10 col-xl-8">
          <div class="card" style="border-radius: 10px;">
            <div class="card-header px-4 py-5">
            
              
              <h5 class="text-muted mb-0">Thanks for your Order, <span style="color: black;"><%=orderDetails.name%></span>!</h5>
            </div>
            <div class="card-body p-4">
              <div class="d-flex justify-content-between align-items-center mb-4">
                <p class="lead fw-normal mb-0" style="color: black;">Order Details </p>
                <p class="small text-muted mb-0">Order Id : <%=orderDetails._id%></p>
                <p class="small text-muted mb-0">Ordered Date:<%=orderDetails.createdAt%> </p>
              </div>
              <div class="card shadow-0 border mb-4">




              <% products?.forEach(function(response) { %>

                <div class="card-body">
                  <div class="row">
                    <div class="col-md-2">
                      <img src="/uploads/<%=response.image%>"
                        class="img-fluid" alt="Phone">
                    </div>
                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                      <p class="text-muted mb-0"><%=response.productsName%></p>
                    </div>
                    
                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                      <p class="text-muted mb-0 small"><%=response.category%></p>
                    </div>
                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                      <p class="text-muted mb-0 small"><%=response.quantity%></p>
                    </div>
                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                      <p class="text-muted mb-0 small"><%=response.productsPrice%></p>
                    </div>

                  </div>

                  <hr class="mb-4" style="background-color: #e0e0e0; opacity: 1;">
                
                </div>
                <% }) %> 


              </div>
              <div class="d-flex justify-content-between pt-2">
                <p class="fw-bold mb-0">Address Details</p>
                <p class="text-muted mb-0"><span class="fw-bold me-4"></span></p>
              </div>
              
             
              
  
              
                <div class="d-flex justify-content-between pt-2">
                  <p class="fw-bold mb-0"><%= address[0].fname%></p>
                  <p class="text-muted mb-0"><span class="fw-bold me-4">Order Status:</span><%= orderDetails.orderConfirm%> </p>



                  <%if(orderDetails.orderConfirm == 'ordered'){%>
                    <button class="btn " onclick="cancelOrder('<%=orderDetails._id%>')" style="background-color: red;" >cancel your order</button>
               
                     <%}else {%>
                      <p style="color: red;">Your order is canceled</p>
                    <%}%>
                  
                  
                </div>
                <div class="d-flex justify-content-between pt-2">
                  <p class="fw-bold mb-0"><%= address[0].apartment%></p>
                  <p class="text-muted mb-0"><span class="fw-bold me-4"></span></p>
                </div>
                <div class="d-flex justify-content-between pt-2">
                  <p class="fw-bold mb-0"><%= address[0].street%></p>
                  <p class="text-muted mb-0"><span class="fw-bold me-4">Total</span> <%=orderDetails.totalPrice%></p>
                </div>
                <div class="d-flex justify-content-between pt-2">
                  <p class="fw-bold mb-0"><%= address[0].city%></p>
                  <p class="text-muted mb-0"><span class="fw-bold me-4"></span></p>
                </div>
                <div class="d-flex justify-content-between pt-2">
                  <p class="fw-bold mb-0"><%= address[0].pincode%></p>
                  <p class="text-muted mb-0"><span class="fw-bold me-4">Delivery Charges</span>Free</p>
                </div>
        
            
                 
                
               
               
              
  
              
            </div>
            <div class="card-footer border-0 px-4 py-5"
              style="background-color: whitesmoke; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
              <h5 class="d-flex align-items-center justify-content-end text-black text-uppercase mb-0">Total
                paid: <%=orderDetails.totalPrice%><span class="h2 mb-0 ms-2"></span></h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row d-flex align-items-center">
     
      <div class="col-md-10">
        
       
      </div>
    </div>
  </section>

  <script>

    function cancelOrder(cancelId) 
    {
      // return confirm('cancel')
      $.ajax({
        url: '/order_cancel/'+cancelId,
        data:{
          cancelId:cancelId
        },
        method:'GET',
        
        success:(response)=>
        {

          if(response)
          {
            location.reload()
          }

        }
        
      })

    }


</script>


<!-- 
<section class="h-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-10 col-xl-8">
          <div class="card" style="border-radius: 10px;">
            <div class="card-header px-4 py-5">
              <h5 class="text-muted mb-0">Thanks for your Order, <span style="color: #a8729a;"><%=address[0].fname%></span>!</h5>
            </div>
            <div class="card-body p-4">
              <div class="d-flex justify-content-between align-items-center mb-4">
                <p class="lead fw-normal mb-0" style="color: #a8729a;">Receipt</p>
                <p class="small text-muted mb-0">Receipt Voucher : 1KAU9-84UIL</p>
              </div>
              
              <div class="card shadow-0 border mb-4">
                  <div class="card-body">
                      <% products?.forEach(function(response) { %>
                  <div class="row">
                    <div class="col-md-1">
                      <img src="/uploads/<%=response.image%>"
                        class="img-fluid" alt="Phone">
                    </div>
                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                      <p class="text-muted mb-0"><%=response.productsName%></p>
                    </div>
                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                      <p class="text-muted mb-0 small">White</p>
                    </div>
                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                      <p class="text-muted mb-0 small"><%=response.category%></p>
                    </div>
                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                      <p class="text-muted mb-0 small">Qty: <%=response.quantity%></p>
                    </div>
                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                      <p class="text-muted mb-0 small"><%=response.productsPrice%></p>
                    </div>
                  </div>
                  
                  <% }) %> 
                  <hr class="mb-4" style="background-color: #e0e0e0; opacity: 1;">
                  <div class="row d-flex align-items-center">
                    <div class="col-md-2">
                      <p class="text-muted mb-0 small">Track Order</p>
                    </div>
                    <div class="col-md-10">
                      <div class="progress" style="height: 6px; border-radius: 16px;">
                        <div class="progress-bar" role="progressbar"
                          style="width: 65%; border-radius: 16px; background-color: #a8729a;" aria-valuenow="65"
                          aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <div class="d-flex justify-content-around mb-1">
                        <p class="text-muted mt-1 mb-0 small ms-xl-5">Out for delivary</p>
                        <p class="text-muted mt-1 mb-0 small ms-xl-5">Delivered</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


              
  
              <div class="d-flex justify-content-between pt-2">
                <p class="fw-bold mb-0">Order Details</p>
                <p class="text-muted mb-0"><span class="fw-bold me-4">Total</span> $898.00</p>
              </div>
  
              <div class="d-flex justify-content-between pt-2">
                <p class="text-muted mb-0">Invoice Number : 788152</p>
                <p class="text-muted mb-0"><span class="fw-bold me-4">Discount</span> $19.00</p>
              </div>
  
              <div class="d-flex justify-content-between">
                <p class="text-muted mb-0">Invoice Date : 22 Dec,2019</p>
                <p class="text-muted mb-0"><span class="fw-bold me-4">GST 18%</span> 123</p>
              </div>
  
              <div class="d-flex justify-content-between mb-5">
                <p class="text-muted mb-0">Recepits Voucher : 18KU-62IIK</p>
                <p class="text-muted mb-0"><span class="fw-bold me-4">Delivery Charges</span> Free</p>
              </div>
            </div>
            <div class="card-footer border-0 px-4 py-5"
              style="background-color: #a8729a; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
              <h5 class="d-flex align-items-center justify-content-end text-white text-uppercase mb-0">Total
                paid: <span class="h2 mb-0 ms-2">$1040</span></h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->


  <style>

.gradient-custom {
/* fallback for old browsers */
background: #cd9cf2;

/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to top left, rgba(205, 156, 242, 1), rgba(246, 243, 255, 1));

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to top left, rgba(205, 156, 242, 1), rgba(246, 243, 255, 1))
}
  </style>