<h1 class="text-center m-5">Your Address</h1>

<% if (addressLength == 0) { %>
    <div class="text-center " style="margin-top: 5rem; margin-bottom: 5rem;">
       
        <h5>No Address added yet</h5>
      
        <a href="/add_address" class="btn btn-dark m-4">Add an Address now</a>

      </div>
    <%} else { %>
   
           
<% response.forEach(function(response) { %>
    <div class="col-md-6 container">
        <div class="order_review">
            <div class="mb-20">
        
    
                    <h4><%=response.item.fname%>:<%=response.item.lname%></h4>
                    <h5><%=response.item.street%></h6>
                        <h5><%=response.item.apartment%></h6>
                            <h5><%=response.item.city%></h5>
                            <h5><%=response.item.state%></h5>
                            <h5><%=response.item.pincode%></h5>
                        <h5><%=response.item.mobile%></h5>
                        <h5><%=response.item.email%></h5>
    
    
                <button class="btn mt-4" onclick="deleteAddress('<%=response._id%>','<%=response.item._id%>')">Delete This Address</button> 
                <a href="/edit_address/?id=<%=response._id%>" class="btn btn-info text-white">Edit Address</a>  
                      
            </div>
            
            
        </div>
    </div>
    <br>
    <% }) %> 
    
    
    <% } %>
 

<script>
    
 
 function deleteAddress(deleteId, addressId)
 {
    $.ajax({
        url:'/delete_address',
        data:{
            deleteId:deleteId,

            addressId:addressId
        },
        method: 'DELETE',

        success:(response)=>
        {
            if(response.deleteAddress)
            {
                location.reload()
            } 

        }
    })

 }

</script>

